.card {
    max-width: 500px;
    margin: 0 auto 10px auto;

}

.card-img-top {  
    height: 300px;    
    width: 100%;        
    object-fit: cover;           
}

.card-body {
    padding: 15px;
    flex-grow: 1;            
}

.upload-div {
    max-width: 550px;
    margin: 60px auto;
    padding: 25px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);}

.upload-div h1 {
    text-align: center;
    margin-bottom: 15px;
}

.upload-div h2 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}

.Uploadsuccessful {
    max-width: 550px;
    margin: 60px auto;
    padding: 25px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    text-align: center;
}

.Uploadsuccessful h1 {
    font-weight: 600;
    margin-bottom: 20px;
}


.profile-card {
    border-radius: 10px;
    max-width: 100%;
}


.profile-img {
    height: 150px;         
    object-fit: cover;     
}

.profile-body {
    padding: 10px;
}


